html {
  overflow-x: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}
.btn-primary, .btn-project {
  background: linear-gradient(to bottom right,  #859cb3 , slateblue);
  border: slateblue;
  color: #fff;
}
.btn-info {
  background: linear-gradient(to bottom right,  #859cb3 , rgb(75 169 255));
}
.btn-project {
  font-size: 16px !important;
}
.btn-project.btn-info {
  color: #fff;
  background: linear-gradient(to bottom right,  #859cb3 , slateblue);
}
.btn-project.btn-primary {
  color: #fff;
  background: linear-gradient(to bottom right,  #859cb3 , rgb(75 169 255));
}
.btn-project.btn-warning {
  color: #000;
  background: linear-gradient(to bottom right, #859cb3 , #ffeb00);
}
#welcomeText1, #welcomeText2, #intro-button{
  opacity: 0;
  position: relative;
  z-index: 1;
}
.navbar{
  background: linear-gradient(to bottom right,  #343A40 , slateblue);
  height: 82.84px;
  transition: all 0.5s;
}
#landingPage .navbar{
  background: linear-gradient(to bottom right,  #343A40 , #000);
}
.navbar.fixed-top.scroll {
  height: 50px;
  transition: all 0.5s;
}
#portfolio .nav-link {
  opacity: 0;
}
.scroller{
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-padding: 82px;
}
.particle {
  width: 7px;
  height: 7px;
  background: #f6eeff;
  border-radius: 100px;
  opacity: 0.6;
}
section{
  min-height: 100vh;
  background-attachment: fixed;
  padding-bottom: 100px;
}
section .row:last-of-type {
  margin-top:50px;
}
section#skills .row:last-of-type {
  margin-top: 25px;
}
#intro{
  padding-top: 100px;
  background: linear-gradient(to bottom right, lightblue, white);
}
section h1{
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold !important;
}
#skills h1{
  color: mediumturquoise;
}
.skill-circle{
  width: 100px;
  height: 100px;
}
.skill-circle circle{
  opacity: 0;
  cx: 50;
  cy: 50;
  r: 40;
  stroke: gold;
  stroke-width: 15;
  fill: transparent;
}
#skills{
  /*background: linear-gradient(to bottom right,  #343A40 , #171a1c );*/
  background: linear-gradient(to bottom right,  #33334d , #171a1c );
}
.skill-year{
  font-weight: bold;
  opacity: 0;
}
.skill-level{
  color: rgb(204, 224, 231);
  font-weight: bold;
  font-size: 18px;
  opacity: 0;
  margin-bottom: 70px;
}
#skills h2{
  font-style: italic;
  opacity: 0;
}
.skill-html h2{
  color: skyblue;
}
.skill-css h2{
  
  color: lightcyan;
}
.skill-js h2{
  color: palevioletred;
}
.skill-react h2{
  color: dodgerblue;
}
.skill-jquery h2{
  color: orangered;
}
.skill-php h2{
  color: yellow;
}
.skill-wordpress h2{
  color: steelblue;
}
.skill-bootstrap h2{
  color: mediumpurple;
}
.skill-rest h2{
  color: aquamarine;
}
#projects{
  background: linear-gradient(to bottom right, lightblue, white);
}
#projects h2{
  color: rebeccapurple;
}
#projects .card{
  max-width: 400px;
  margin: 0 auto 30px auto;
  opacity: 0;
}
#projects .card-header{
  height: 225px;
  background-size: cover;
  background-position: center;
}
#projects .card-body{
  min-height: 300px;
}
#projects .btn-project{
  margin-bottom: 5px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  filter: brightness(0.5);
}

#education{
   position: relative;
   border-top: gray solid 4px;
}
#education::after{
  content: "";
  display: block;
  background-image: url('../images/uncp_dorm.jpg');
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.4;
  width: 100%;
  min-height: 150vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.edu-info, #edu-button{
  opacity: 0;
}

#employment{
  position: relative;
  border-top: gray solid 4px;
  background: linear-gradient(to bottom right, rgb(8, 54, 70), white);
}
#employment::after{
  content: "";
  display: block;
  background-image: url('../images/employment.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  opacity: 0.4;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#employment .card-header{
  font-size: 35px;
}

#references{
  background: linear-gradient(to bottom right, lightblue, white);
}
#references .card{
  max-width: 400px;
  margin: 0 auto 10px auto;
  opacity: 0;
}
#references .card-header{
  height: 225px;
  background-size: cover;
  background-position: center;
}
#references .card-body{
  height: auto;
}

#tools{
  border-top: gray solid 4px;
  background: linear-gradient(to bottom right, lightblue, white);
}

#end{
  border-top: gray solid 4px;
  background: linear-gradient(to bottom right, rgb(233, 208, 235), rgb(255, 255, 255));
}
#end h1 {
  padding-bottom: 10px;
}
#end h1 ~ div {
  margin-bottom: 20px !important;
}
#end img{
  max-width: 200px;
}
#trophy {
  max-width: 200px;
}
#partyBall, #trophy {
  opacity: 0.8;
}

#contactForm {
  max-width: 440px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgb(182 152 184), rgb(250 250 250));
}
#contactForm .col {
  margin-bottom: 20px;
}
#contactForm textarea {
  width: 100%;
}
#submit {
  background: #2e373b;
}

footer{
  height: 150px;
  margin: 0 auto;
  padding-top: 50px;
}
.prof_img{
  width: 180px;
}
.btn{
  font-size: 20px;
  font-weight: bold;
}
.letter{
  display: inline-block;
}
.fas{
  color: cornflowerblue;
}
.modal-title, .modal-footer{
  margin: 0 auto;
}
.modal-body{
  max-width: 900px;
  margin: 0 auto;
}
.modal .close{
  margin-left: 0px;
  position: absolute;
  right: 10px;
  border-color: darkgrey;
}
#graduation{
  max-width: 200px;
}
table td{
  color: mediumblue;
}

.asterisk {
  position: absolute;
  left: 10px;
  top: -2px;
}
#videoHero video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Tablets & below */
@media (max-width: 1024px) {
  .navbar {
    height: auto !important;
  }
  .navbar-brand img {
    width: 30px;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  #tools .col-12 {
    padding: 0px !important;
  }
}

/* Mobile phones */
@media (max-width: 768px) { 
  #welcomeText1, #welcomeText2{
    font-size:20px !important;
  }
  .modal-title, #education h2{
    font-size:35px !important;
  }
  .card{
    width: 100% !important;
  }
  .card .btn{
    font-size: 16px;
  }
  section > div {
	  padding: 0px !important;
  }
  section .row {
	  margin: 0px !important;
  }
}


